# Python
/core/__pycache__/
/tiriji/__pycache__/
__pycache__*
*.pyc
*.pyo
*.pyd
*.sqlite3
.__pycache__/

# Virtual Environment
venv/
VR/
env/

# Django
media/
staticfiles/

# OS
.DS_Store

# Environment Variables
.env
docker.env

.wrangler/

.vscode/
.idea/  

# docker 
