{% extends "core/base.html" %}

{% block content %}

<section class="section">

    <div class="container">

        <div class="card section-center">

            <h1>Application Received</h1>

            <p>
                Thank you {{ volunteer.first_name }}.
            </p>

            <p>
                Your volunteer application has been submitted successfully.
            </p>

            <a href="{% url 'home' %}"
               class="btn btn-primary">

                Return Home

            </a>

        </div>

    </div>

</section>

{% endblock %}